.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about__content {
  
  height: 45%;
  width: 66%;
  background: white;
}

.card__paragraph {
  text-align: left;
  color: black;
}


.about__text {
  display: flex;
  font-size: 1em;
  justify-content: flex-start;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87%;
}

