.about-container {
  display: flex;
  align-self: center;
  overflow: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 12vh;
  width: 60%
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 93%;
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .about-wrapper {
    padding-top: 70vh;
    height: 80%;
    width: 100%;
    display: flex;
    text-align: left;
  }  
  .about-container {
    display: flex;
    align-self: center;
    overflow: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 12vh;
    width: 100%
  }
}
