/* .background-color {
  margin-top: 10vh;
  background-color: #E9EBEE;
  border-radius: 6px;
  width: 75%;
  z-index: 1;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.input-color {
  background-color: #E9EBEE;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  z-index: 1;
  
}

.text-center-1 {
  display: flex;
  justify-content: center;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  height: 100%;
  margin-left: 1vh;
  margin-right: 1vh;
}



