.carousel-sizer {
    display: flex;
    justify-content: center;
    max-width: 75vh; 

}

.carousel {
  max-width: 85vh; 
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93vh;
}

.standing-img {
  height: 63.8vh;
  width: auto;
}

 .carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
  
}
.carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
}