.OurTeam-Container {
  min-width: 85%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10vh;
  z-index: -1;
  height: 100%;
  /* border: 1px solid red; */
}



.Ripple-parent {
  display: flex;
  justify-content: center;
  
}

.card {
  margin: 5px;
  padding: 10px;
  z-index: -1;

}


.card-image {
background: rgba(0, 0, 0, 1);

}
