.App {
  text-align: center;
  height: 95vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  }




.App-link {
  color: #61dafb;
}

